*{margin: 0;padding: 0;}
.top{
    width: 100%;
    height: 66px;
    background:#19BEBE url("images/logo.png") no-repeat center;
}
.nav{
    width: 100%;
    height: 42px;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    background: #F0F0F0;
    position: relative;
}
.nav-left{
    position: absolute;
    margin-left:220px;
    font-size: 14px;
    left: 0;
    right: 0;
}
.nav-left img{
    margin-top: 11.5px;
}
.nav-right{
    position: absolute;
    right: 0;
    top:0;
    font-size: 14px;
    margin-right: 180px;
    color: #FEA700;
}
.nav-content{
    text-align: center;
}
.nav-content a{
    font-size: 18px;
    color: #000;
    margin: 0 30px;
    text-decoration: none;
}
.container{
    width:1000px;
    height:900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px; 
    position: relative;  
}
.container-left{
    width: 180px;
    height: 900px;
    background: #F0F0F0;
    text-align: center;
}
.container-left p{
    width: 178px;
    font-size: 16px;
    line-height: 74px;
    border: 1px solid#EBEBEB;
    
}
.container-left ul:first-child{
    margin-left: 0px;
    margin-top: -10px;
}
.container-left ul:not(:nth-child(1)){
    margin-top: 26px;
}
.container-left li{
    line-height: 30px;
    list-style: none;
    font-size: 16px;
}
.container-left a{
    text-decoration: none;
    color: #000;
}
.container-left a:hover{
    cursor: pointer;
}
.one{
    font-weight: bold;
    margin-left:-21px;
}
.two{
    margin-left: -32px;
}
.three{
    margin-left: 40px;
}
.container-right{
    position: absolute;
    width: 810px;
    height: 1084px;
    background:#F0F0F0;
    top: 0;
    left: 190px;
}
.container-right-top{
    width:808px;
    height: 142px;
    background: #EDEDED;
    border: 1px solid #E8E8E8;
}
.container-right-top .pc{
    width: 405px;
    height: 142px;
    margin-left: 42px;
    position: relative;
    overflow: hidden;
}
.pc img{
    margin-top: 18px;
    float: left;
}
.pc ul{
    margin-left: 121px;
    margin-top: 26px;
    margin-right:87px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.pc li{
    list-style: none;
    font-size: 18px;
    color: #5A5A5A;
}
.pc li:first-child{
    font-size: 20px;
    margin-bottom: 16px;
}
.pc li:not(:first-child){
    line-height: 26px;
}
.container-right-top .wechat{
    width:202px;
    height:142px;
    margin-top: -91px;
    margin-left:390px;
    position: relative;
}
.wechat img{
    float:left;
}
.wechat ul{
    margin-left: 48px;
}
.wechat li{
    list-style: none;
    margin-top: 0px;
    font-size: 14px;
    color: #5A5A5A;
}
.container-right-top .num{
    width: 202px;
    height: 142px;
    margin-top: -142px;
    margin-left:587px;
    position:relative;
}
.num img{
    float: left;
}
.num ul{
    margin-left:48px; 
}
.num li{
    list-style: none;
    margin-top: 0px;
    font-size: 14px;
    color: #5A5A5A;
}
.container-right-top a{
    text-decoration: none;
    color: #52CCCC;
}
.container-right-top a:hover{
    cursor: pointer;
}
.nav-bottom{
    margin-top: 308px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background: #515151;
    position: relative;
    overflow: hidden;
}
.nav-bottom-left{
    width: 350px;
    margin-left: 180px;
    position: absolute;
}
.nav-bottom-left img{
    margin-top: 26px;
    margin-bottom: 16px;
}
.nav-bottom-left ul{
    width: 380px;
}
.nav-bottom-left li{
    float: left;
    list-style: none;
    font-size: 14px;
    color: #EBEBEB;
}
.nav-bottom-left li:first-child{
    font-weight: bold;
}
.nav-bottom-left li:nth-child(2){
    margin-top: 12px;
}
.nav-bottom-left li:nth-child(3){
    margin-top: 2px;
}
.nav-bottom-right{
    margin-left:632px;
    overflow: hidden;
}
.nav-bottom-right li{
    list-style: none;
    line-height: 30px;
    font-size: 12px;
    color: #EBEBEB;
}
.nav-bottom-right ul{
    float: left;
    margin-top: 69px;
    margin-left: 80px;
}
.nav-bottom-right li a{
    color: #EBEBEB;
    text-decoration: none;
}
.nav-bottom-right ul:nth-child(1){
    margin-left:50px;
}
.nav-bottom-right ul:nth-child(3){
    margin-left:132px;
    margin-top:62px; 
}
.nav-bottom-right ul:nth-child(4){
    margin-left: 12px;
}
.nav-bottom-foot{
    margin-left: auto;
    margin-right: auto;
    width: 1003px;
    font-size: 12px;
    color: #E7E7E7;
    overflow: hidden;
}
.nav-bottom-foot hr{
    color:#D3D3D3;
    margin-top: 20px;
}
.nav-bottom-foot .left{
    float: left;
    margin-left:17px;
}
.nav-bottom-foot .right{
    margin-right:9px;
    float: right;
}
.nav-bottom-foot p{
    margin-top: 15px;
}
